html {
    font-family: 'Urbanist', sans-serif;
    font-size: 18px;
}

/* header start */

header {
    background-color: #fff;
    position: sticky; top: 0;
    z-index:9999
}

header .inner {
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
    height: 4em;
    align-items: center;
}

header nav ul li {
    display: inline;
    margin-left: 0.2em;
  
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    background-color: #000;
    padding: 0.2em 0.5em;
    text-transform: none;
    border-radius: 20px;
}

.off {
    color: #000;
    background-color: #fff;
}

.event:hover {
    color: #000;
    background-color: #fae382;
}

.build:hover {
    color: #000;
    background-color: #7087c2;
}

.resource:hover {
    color: #000;
    background-color: #f27075;
}

.home:hover {
    color: #000;
    background-color: #eda385;
}

.name :hover {
    color: #fff;
    background-color: #000;
    border-radius: 40px;
}

.name a {
    color: #000;
    text-decoration: none;
    background-color: #fff;
    padding: 0.2em 0.5em;
    text-transform: none;
}



/* header end */

.inner {
    width: 75%;
    margin: 0 auto;
}

.hero {
    background-image: url(../images/co-hero.jpg);
    height: 30em;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mission {
    text-align: center;
    padding: 5% 10% 10% 10%;
}

footer {
    background-color: #000;
    color: #fff;    
    margin: 0 auto;
    
}

.image {
    height: 25em;
}

.fill {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.image-ref {
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
    height: 4em;
    align-items: center;   
}

.hero-name {
    color: #fff;
    text-decoration: none;
    background-color: #000;
    padding: 0.4em .8em;
    text-transform: none;
    border-radius: 20px;
}

.hero-ref {
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
    height: 4em;
    align-items: center;
    width: 75%;
    margin: 0 auto;
}

/* events start */

.events {
    display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: .2em;
    row-gap: 2.5em;
    padding: 2% 2% 10% 2%;
    justify-content: space-between; 
}

.event-img {
    height: 12em;
}

.event-text {
    padding: 0.4em 0.5em;
}

/* events end */

/* get involved start */

.involve-box {
    justify-content: space-between;
    padding: 0% 10% 10% 10%;
}

.involve-box div ul {
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0% 0% 5% 0%;
}

input {
    border: none;
    height: 100%;
    outline: 0;
    width: 70%;
    border-radius: calc(0.5 * 3em);
    padding: 0% 5% 3% 5%;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 40px;
}

.youget {
    text-align: center;
    padding: 0% 0% 5% 0%;
}

/* get involved end */

/* about page start */

.about {
    align-items: center;
    padding: 0% 0% 10% 0%;
}

.about ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    column-gap: 1em;
    row-gap: 1em;
    align-items: center;
    text-align: center;
    
}

.about ul div li img {
    border-radius: 100%;
    max-width: 10em;
    max-height: 10em;
    min-width: 10em;
    min-height: 10em;
}

.about ul div{
    display: grid;
    row-gap: 1em;
    column-gap: 1em;
}

.middle {
    display: grid;
    justify-items: center;
    padding: 0% 0% 5% 0%;
}

.partners ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    column-gap: 4em;
    row-gap: 4em;
    height: auto;
    align-items: center;
    text-align: center;
    padding: 0% 0% 10% 0%;
}

/* .partners ul li {
    height: 8em;
} */

/* about page end */

.logo {
    height: 30em;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/cm-logo.png);

}

/* navigation display start */

.navbar {
    width: 90%;
    margin: 0 auto;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    column-gap: 1em;
    row-gap: 1em;
    align-items: top;
    text-align: left;
    padding: 5% 0% 5% 0%;
}

.navinfo {
    display: grid;
    row-gap: 1em;
}

.navinfo li a {
    color: #fff;
    text-decoration: none;
    background-color: #000;
    padding: 0.2em 0.5em;
    text-transform: none;
}

.navinfo li a:hover {
    color: #000;
    background-color: #fff;
}

.smallprint {
    display: grid;
    align-items: center;
    text-align: center;
    padding: 2% 0% 2% 0%;
}

/* navigation display end */

/* building-template display/page start */

.header {
    padding: 1em 0em 2em 0em;
    text-align: center;
}

.building {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75;
    padding: 0% 0% 2% 0%;
}

.building-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0% 0% 2% 0%;
}

.building-gal{
    padding: 0% 0% 2% 0%;
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
    height: 4em;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    opacity: 80%;

}

.building-text {
    padding: 0% 0% 10% 0%;

}

.nav-name {
    color: #fff;
    text-decoration: none;
    background-color: #000;
    padding: 0.4em .8em;
    text-transform: none;
    border-radius: 20px;
}

.nav-ref {
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
    height: 4em;
    align-items: center;
    width: 75%;
    margin: 0 auto;
}

.nav-ref li a {
    color: #fff;
    text-decoration: none;
    background-color: #000;
    padding: 0.2em 0.5em;
    text-transform: none;
    border-radius: 20px;
}

/* building-template display/page end */

/* building-option display/page start */

.building-op {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0% 0% 10% 0%;
    row-gap: .5em;
    column-gap: .5em;
}

.building-op div {
    text-decoration: none;
    height: 20em;
}

.building-op div:hover {
    filter: grayscale(80%);
}

.building-op div {
    background-color: #a88f8f;
    min-height: 10em;
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
    text-decoration: none;
}

.building-op div h3 {
    text-decoration: none;
    color: #ffffff;
    background-color: #000;
    display: none;

}

.building-op div:hover h3 {
   display: block;
}

.credits {
    padding: 0% 0% 10% 0%;
}

.thanks {
    text-align: center;
    padding: 0% 0% 5% 0%;
}

.names {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* building images start */
.building-op .nla {
    background-image: url(../images/nla.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.building-op .uh {
    background-image: url(../images/uh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.building-op .ch {
    background-image: url(../images/ch.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.building-op .uv {
    background-image: url(../images/uv.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.building-op .co {
    background-image: url(../images/co.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.building-op .gps {
    background-image: url(../images/gps.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.building-op .sm {
    background-image: url(../images/sm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.building-op .ebb {
    background-image: url(../images/ebb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.building-op .cs {
    background-image: url(../images/cs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.building-op .cmb {
    background-image: url(../images/cmb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.building-op .awma {
    background-image: url(../images/awma.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.building-op .aas {
    background-image: url(../images/aas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.building-op .tbh {
    background-image: url(../images/tbh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.building-op .aiah {
    background-image: url(../images/aiah.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.building-op .jc {
    background-image: url(../images/jc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.building-op .aph {
    background-image: url(../images/aph.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.building-op .tt {
    background-image: url(../images/tt.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.building-op .ape {
    background-image: url(../images/ape.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.building-op .hca {
    background-image: url(../images/hca.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.building-op .shh {
    background-image: url(../images/shh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* building images end */

/* building-option display/page end */

/* events start */

.e-middle {
    display: grid;
    justify-items: center;
    padding: 5% 0% 5% 0%;
    
}

.n-events {
    align-items: center;
    padding: 0% 0% 10% 0%;
}

.n-events ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    column-gap: 1em;
    row-gap: 3em;
    align-items: left;
    text-align: left;
    
}

.bg-image {
    background-image: url(../images/events.jpg);
    height: 8em;
    background-size: cover;
}

.pm {
    /* display: flex; */
    justify-content: space-between;
    column-gap: 1em;
    height: 5em;
    align-items: center;
    width: 20%;
    margin: 0 auto;
    padding: 4%;
}

.p-middle {
    color: #000;
    text-decoration: none;
    background-color: #eda385;
    padding: 0.4em .8em;
    text-transform: none;
    border-radius: 40px;
    text-align: center;
}

.book {
    color: #000;
    text-decoration: none;
    background-color: #7087c2;
    padding: 0.2em 0.5em;
    text-transform: none;
    border-radius: 20px;
}

.book:hover {
    color: #fff;
    text-decoration: none;
    background-color: #000;
}

.e-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 14em;
    object-fit: cover;
}

/* events end */

/* general settings start */

h1 {
    font-size: 2em;
    padding: 0.4em 0.2em;
}

h2 {
    font-size: 1.8em;
    padding: 0.3em 0.2em;
}

h3 {
    font-size: 1.5em;
    padding: 0.2em 0.2em;
}

h4 {
    font-size: 1.2em;
    padding: 0.2em 0.2em;
}

h5 {
    font-size: .8em;
    padding: 0.2em 0.2em;

}

h6{

}

p{
    padding: .5em;
    line-height: 1.6;
}

hr {
    width: 60%;

}

/* general settings end */

/* screen width settings start */

@media screen and (max-width: 900px) {
    .building-op {
        grid-template-columns: 1fr 1fr;
    }
    .inner {
        width: 90%;
    }
    .n-events ul {
        grid-template-columns: 1fr;   
    }
}

@media screen and (max-width: 768px) {
    .inner {
        width: 90%;
    }
    
    .events {
        
        grid-template-columns: 2fr;
    }

    .event-img {
        height: 20em;
    }

    .about ul {
        grid-template-columns: 1fr;
    }

    .partners ul {
        grid-template-columns: 1fr 1fr;
    }

    .nav {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .building-op {
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (max-width: 425px) {
    .nav {
        grid-template-columns: 1fr;
    }

    .building-op {
        grid-template-columns: 1fr;
    }

    .building-gal {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: .5em;
        column-gap: .5em;
        
    }

    .building {
        padding: 0% 0% 10% 0%;
    }

    .logo {
        height: 15em;
    }

    .building-text {
        padding: 30% 0% 5% 0%;
    
    }
}

/* screen width settings end */