html {
    font-family: Helvetica;
}

header {
    background-color: darkcyan;
}

header .inner {
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
    height: 4em;
    align-items: center;
}

header nav ul li {
    display: inline;
    margin-left: 0.2em;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    background-color: #000;
    padding: 0.2em 0.5em;
    text-transform: none;
}

header nav ul li a:hover {
    color: #000;
    background-color: #fff;
}

.inner {
    width: 75%;
    margin: 0 auto;
}

.hero {
    background-color: darkgrey;
    height: 300px;
}

footer {
    background-color: darkcyan;
    
    margin: 0 auto;
    
}

.image {
    background-color: darkgrey;
    height: 20em;
    margin: 0 auto;
}

.image-ref {
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
    height: 4em;
    align-items: center;
    
}

.hero-ref {
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
    height: 4em;
    align-items: center;
    width: 75%;
    margin: 0 auto;
}

.events {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    background-color: darkgrey;
    padding: 0.2em 0.5em;
    height: 8em;
}

.events-img {
    background-color: rgb(102, 102, 102);
}

.events-text {
    background-color: rgb(102, 102, 102);
}


h1 {
    font-size: 34px;
    padding: 0.4em 0.5em;
}

h2 {
    font-size: 28px;
    padding: 0.4em 0.5em;
}

h3 {
    font-size: 22px;
    padding: 0.4em 0.5em;
}

h4 {

}

h5 {

}

h6{

}